In [2]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.2.1-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 279 kB/s eta 0:00:01
Requirement already satisfied: scikit-learn!=0.22.0 in /home/stevramos/anaconda3/lib/python3.7/site-packages (from lightgbm) (0.23.2)
Requirement already satisfied: scipy in /home/stevramos/anaconda3/lib/python3.7/site-packages (from lightgbm) (1.5.2)
Requirement already satisfied: wheel in /home/stevramos/anaconda3/lib/python3.7/site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: numpy in /home/stevramos/anaconda3/lib/python3.7/site-packages (from lightgbm) (1.19.4)
Requirement already satisfied: joblib>=0.11 in /home/stevramos/anaconda3/lib/python3.7/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/stevramos/anaconda3/lib/python3.7/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.2.1

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from utils import *
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import pickle

from models import *
from utils import *

In [2]:
filename = 'models/lightgbm_pred.pk'

In [3]:
cols_yes = ["log_ingreso_mens", "log_num_seguros_salud", "log_rcc_nro_prod", "log_rcc_linea_tc_max", 
            "log_rcc_num_ent_sbs", "log_edad", "log_diff_lj_created","enc_rcc_cal_gral",
            "enc_nse", "enc_segmento", "enc_gender", "le_provincia"]

In [4]:
MODEL = Model(filename)

In [5]:
data = pd.DataFrame()

In [6]:
data = data.append({'dni': 74462793, '_last_judgment_at': "10/26/15 23:24", 'gender': "male", 'created': "12/5/13 1:48",
            'edad': 47, 'provincia': "COMAS", "rcc_cal_gral": "PER",
            'rcc_num_ent_sbs': 4, 'rcc_linea_tc_max': 561.364765, 
            'rcc_nro_prod': 5, 'num_seguros_salud': 1, 
            'ingreso_mens': 480.752552, 'tipo_vivienda': "alqui",
            'tipo_vivienda': "alqui",
            'sit_laboral':"DEP",
            'segmento':"SEGM1"}, ignore_index=True)

In [7]:
xd = process_data(data)

In [8]:
data

,_last_judgment_at,created,dni,edad,gender,ingreso_mens,num_seguros_salud,provincia,rcc_cal_gral,rcc_linea_tc_max,rcc_nro_prod,rcc_num_ent_sbs,segmento,sit_laboral,tipo_vivienda,diff_lj_created,nse
0,2015-10-26 23:24:00,2013-12-05 01:48:00,74462793.0,47.0,male,480.752552,1.0,COMAS,PER,561.364765,5.0,4.0,SEGM1,DEP,alqui,660,C

In [9]:
result = MODEL.predict(data)

In [10]:
result[0]

1

In [11]:
productos = pd.read_csv("Data/cluster_productos.csv")

In [12]:
productos

   Unnamed: 0  cluster                                           producto
0           0        0  Cuentas de Ahorro, Tarjeta de Crédito, BBVA T-...
1           1        1              Préstamo al Toque, Adelanto en Sueldo
2           2        2                    Depósito a Plazo, Fondos Mutuos

In [13]:
productos[productos['cluster']==1].producto.values[0]

'Préstamo al Toque, Adelanto en Sueldo'