In [37]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from utils import *
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhoutte_score

ImportError: cannot import name 'silhoutte_score' from 'sklearn.metrics' (/home/stevramos/anaconda3/lib/python3.7/site-packages/sklearn/metrics/__init__.py)

In [11]:
pd.options.display.max_columns = 500

In [2]:
data_twitter = "Data/gender-classifier-DFE-791531.csv"

In [8]:
df_twitter = pd.read_csv(data_twitter, encoding="latin1")

In [9]:
df_twitter.shape

(20050, 26)

In [17]:
cols = ["_unit_id", "_last_judgment_at", "gender", "created", "description", "name", "text", "fav_number",
       "tweet_location"]

In [14]:
df_twitter.name.nunique()

18795

In [35]:
df_twitter.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,description,fav_number,gender_gold,link_color,name,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,i sing my own rhythm.,0,NaN,08C2C2,sheezy0,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,I'm the author of novels filled with family dr...,68,NaN,0084B4,DavdBurnett,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,louis whining and squealing and all,7696,NaN,ABB8C2,lwtprettylaugh,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",202,NaN,0084B4,douggarland,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,37318,NaN,3B94D9,WilfordGemma,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [19]:
df_twitter_sample =  df_twitter.drop_duplicates("name").reset_index(drop=True)[cols]

In [20]:
df_twitter_sample.head()

,_unit_id,_last_judgment_at,gender,created,description,name,text,fav_number,tweet_location
0,815719226,10/26/15 23:24,male,12/5/13 1:48,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0,main; @Kan1shk3
1,815719227,10/26/15 23:30,male,10/1/12 13:51,I'm the author of novels filled with family dr...,DavdBurnett,ÛÏIt felt like they were my friends and I was...,68,NaN
2,815719228,10/26/15 23:33,male,11/28/14 11:30,louis whining and squealing and all,lwtprettylaugh,i absolutely adore when louis starts the songs...,7696,clcncl
3,815719229,10/26/15 23:10,male,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",douggarland,Hi @JordanSpieth - Looking at the url - do you...,202,"Palo Alto, CA"
4,815719230,10/27/15 1:15,female,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,WilfordGemma,Watching Neighbours on Sky+ catching up with t...,37318,NaN

In [24]:
df_simulated = simulator.simulate(df_twitter_sample.shape[0])

In [27]:
df_simulated

           tasa        monto  edad   saldo_rcc   canal segmento perfil_rcc
0      3.125230  1327.094511    42  156.705574  CANAL2    SEGM4       RCC2
1      3.409037   934.069305    36   35.320373  CANAL3    SEGM4       RCC2
2      3.135773   529.242783    31  127.620524  CANAL1    SEGM3       RCC1
3      3.530680    76.949263    38  140.935862  CANAL4    SEGM4       RCC2
4      3.280385   364.117079    48  383.991546  CANAL2    SEGM4       RCC1
...         ...          ...   ...         ...     ...      ...        ...
18790  3.219170   566.972006    45  813.254804  CANAL2    SEGM3       RCC2
18791  3.110620  1959.907766    39   46.654666  CANAL3    SEGM2       RCC2
18792  3.177114  1538.012584    32  401.820791  CANAL1    SEGM2       RCC1
18793  3.241812   455.357809    38  244.152607  CANAL1    SEGM4       RCC1
18794  3.271199   295.389548    43   18.902060  CANAL4    SEGM4       RCC2

[18795 rows x 7 columns]

In [30]:
df_personas = pd.concat([df_twitter_sample, df_simulated],axis=1)

In [32]:
df_personas.shape

(18795, 16)

In [31]:
df_personas.head()

,_unit_id,_last_judgment_at,gender,created,description,name,text,fav_number,tweet_location,tasa,monto,edad,saldo_rcc,canal,segmento,perfil_rcc
0,815719226,10/26/15 23:24,male,12/5/13 1:48,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0,main; @Kan1shk3,3.125230,1327.094511,42,156.705574,CANAL2,SEGM4,RCC2
1,815719227,10/26/15 23:30,male,10/1/12 13:51,I'm the author of novels filled with family dr...,DavdBurnett,ÛÏIt felt like they were my friends and I was...,68,NaN,3.409037,934.069305,36,35.320373,CANAL3,SEGM4,RCC2
2,815719228,10/26/15 23:33,male,11/28/14 11:30,louis whining and squealing and all,lwtprettylaugh,i absolutely adore when louis starts the songs...,7696,clcncl,3.135773,529.242783,31,127.620524,CANAL1,SEGM3,RCC1
3,815719229,10/26/15 23:10,male,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",douggarland,Hi @JordanSpieth - Looking at the url - do you...,202,"Palo Alto, CA",3.530680,76.949263,38,140.935862,CANAL4,SEGM4,RCC2
4,815719230,10/27/15 1:15,female,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,WilfordGemma,Watching Neighbours on Sky+ catching up with t...,37318,NaN,3.280385,364.117079,48,383.991546,CANAL2,SEGM4,RCC1

In [ ]:
df_personas

In [34]:
k=10
clusterizacion = KMeans(n_clusters=k)
clusters = clusterizacion.fit_predict(df_personas.iloc[:,:])

ValueError: could not convert string to float: '10/26/15 23:24'