In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from utils import *
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
pd.options.display.max_columns = 500

In [3]:
data_twitter = "Data/gender-classifier-DFE-791531.csv"

In [4]:
df_twitter = pd.read_csv(data_twitter, encoding="latin1")

In [5]:
df_twitter.shape

(20050, 26)

In [6]:
cols = ["_unit_id", "_last_judgment_at", "gender", "created", "description", "name", "text", "fav_number",
       "tweet_location"]

In [7]:
df_twitter.name.nunique()

18795

In [8]:
df_twitter.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,description,fav_number,gender_gold,link_color,name,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,i sing my own rhythm.,0,NaN,08C2C2,sheezy0,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,I'm the author of novels filled with family dr...,68,NaN,0084B4,DavdBurnett,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,louis whining and squealing and all,7696,NaN,ABB8C2,lwtprettylaugh,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",202,NaN,0084B4,douggarland,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,37318,NaN,3B94D9,WilfordGemma,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [9]:
df_twitter_sample =  df_twitter.drop_duplicates("name").reset_index(drop=True)[cols]

In [10]:
df_twitter_sample.head()

,_unit_id,_last_judgment_at,gender,created,description,name,text,fav_number,tweet_location
0,815719226,10/26/15 23:24,male,12/5/13 1:48,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0,main; @Kan1shk3
1,815719227,10/26/15 23:30,male,10/1/12 13:51,I'm the author of novels filled with family dr...,DavdBurnett,ÛÏIt felt like they were my friends and I was...,68,NaN
2,815719228,10/26/15 23:33,male,11/28/14 11:30,louis whining and squealing and all,lwtprettylaugh,i absolutely adore when louis starts the songs...,7696,clcncl
3,815719229,10/26/15 23:10,male,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",douggarland,Hi @JordanSpieth - Looking at the url - do you...,202,"Palo Alto, CA"
4,815719230,10/27/15 1:15,female,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,WilfordGemma,Watching Neighbours on Sky+ catching up with t...,37318,NaN

In [12]:
df_simulated = simulator.simulate(data_path="Data/", n=df_twitter_sample.shape[0])

/home/stevramos/Documents/personal_projects/space hackathon

In [30]:
df_personas = pd.concat([df_twitter_sample, df_simulated],axis=1)

In [31]:
df_personas = df_personas.loc[df_personas.gender!="brand",:]

In [32]:
df_personas.shape

(13375, 25)

In [33]:
df_personas.head()

,_unit_id,_last_judgment_at,gender,created,description,name,text,fav_number,tweet_location,dni,edad,cod_ubigeo,provincia,rcc_cal_gral,rcc_num_ent_sbs,rcc_linea_tc_max,rcc_nro_prod,num_seguros_salud,ingreso_mens,es_cliente,flg_viaje_tw,tipo_vivienda,sit_laboral,segmento,prod_interes
0,815719226,10/26/15 23:24,male,12/5/13 1:48,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0,main; @Kan1shk3,18632,36,150139,CHORRILLOS,PER,6,534.870469,9,1,138.763365,0,0,alqui,INDEP,SEGM2,FM
1,815719227,10/26/15 23:30,male,10/1/12 13:51,I'm the author of novels filled with family dr...,DavdBurnett,ÛÏIt felt like they were my friends and I was...,68,NaN,18054,35,150136,CAJATAMBO,CPP,3,792.052900,2,1,69.201561,0,1,hipot,INDEP,SEGM3,PREST
2,815719228,10/26/15 23:33,male,11/28/14 11:30,louis whining and squealing and all,lwtprettylaugh,i absolutely adore when louis starts the songs...,7696,clcncl,12970,53,150111,PACHACAMAC,OK,1,1416.557202,17,1,1642.160060,0,1,alqui,DEP,SEGM1,FM
3,815719229,10/26/15 23:10,male,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",douggarland,Hi @JordanSpieth - Looking at the url - do you...,202,"Palo Alto, CA",15581,42,150136,SAN ISIDRO,CPP,2,135.620071,4,1,71.281748,0,0,alqui,DEP,SEGM2,T_CAMBIO
4,815719230,10/27/15 1:15,female,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,WilfordGemma,Watching Neighbours on Sky+ catching up with t...,37318,NaN,8711,36,150143,SAN MARTIN DE PORRES,CPP,2,1737.153782,12,1,1200.426652,1,1,propia,DEP,SEGM2,TA

In [34]:
df_personas["created"] = pd.to_datetime(df_personas["created"], format='%m/%d/%y %H:%M')
df_personas["_last_judgment_at"] = pd.to_datetime(df_personas["_last_judgment_at"], format='%m/%d/%y %H:%M')

In [35]:
df_personas["diff_lj_created"] = (df_personas["_last_judgment_at"].dt.year.astype(int)*360 + df_personas["_last_judgment_at"].dt.month.astype(int)*30).astype(int) - (df_personas["created"].dt.year.astype(int)*360 + df_personas["created"].dt.month.astype(int)*30).astype(int)   #- df_personas["created"].dt.to_period("M")

In [36]:
num_vars = ["flg_viaje_tw", "ingreso_mens", "num_seguros_salud", "rcc_nro_prod", "rcc_linea_tc_max", 
           "rcc_num_ent_sbs", "edad","diff_lj_created"]

In [48]:
def processing_num_vars(df):
    df_personas = df.copy()
    df_personas['log_ingreso_mens']=np.log(df_personas['ingreso_mens'] + 1)
    df_personas['log_num_seguros_salud']=np.log(df_personas['num_seguros_salud']+1)
    df_personas['log_rcc_nro_prod']=np.log(df_personas['rcc_nro_prod']+1)
    df_personas['log_rcc_linea_tc_max']=np.log(df_personas['rcc_linea_tc_max'] + 1)
    df_personas['log_rcc_num_ent_sbs']=np.log(df_personas['rcc_num_ent_sbs'] + 1)
    df_personas['log_edad']=np.log(df_personas['edad'] + 1)
    df_personas['log_diff_lj_created']=np.log(df_personas['diff_lj_created'] + 1)

    return df_personas

In [38]:
df_personas.head(1)

,_unit_id,_last_judgment_at,gender,created,description,name,text,fav_number,tweet_location,dni,edad,cod_ubigeo,provincia,rcc_cal_gral,rcc_num_ent_sbs,rcc_linea_tc_max,rcc_nro_prod,num_seguros_salud,ingreso_mens,es_cliente,flg_viaje_tw,tipo_vivienda,sit_laboral,segmento,prod_interes,diff_lj_created
0,815719226,2015-10-26 23:24:00,male,2013-12-05 01:48:00,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0,main; @Kan1shk3,18632,36,150139,CHORRILLOS,PER,6,534.870469,9,1,138.763365,0,0,alqui,INDEP,SEGM2,FM,660

In [39]:
df_personas.sit_laboral.value_counts()

DEP      7984
INDEP    5391
Name: sit_laboral, dtype: int64

In [40]:
df_personas.tipo_vivienda.value_counts()

alqui     5436
hipot     4051
propia    1308
otro      1293
fami      1287
Name: tipo_vivienda, dtype: int64

In [41]:
def get_nse(serie):
    
    #print(serie)
    
    if (serie["sit_laboral"] == "DEP") and (serie["tipo_vivienda"] in ["propia"]):
        return "A"
    elif (serie["sit_laboral"] == "DEP") and (serie["tipo_vivienda"] in ["fami", "hipot"]):
        return "B"
    elif (serie["sit_laboral"] == "DEP") and (serie["tipo_vivienda"] in ["fami", "alqui"]):
        return "C"
    else: 
        return "D"

In [42]:
df_personas["nse"] = df_personas.apply(get_nse, axis=1)

In [43]:
cat_vars = ["gender", "provincia", "rcc_cal_gral", "nse", "segmento"]

In [49]:
def processing_cat_vars(df):
    df_personas = df.copy()
    
    df_personas.loc[df_personas.rcc_cal_gral=='OK','enc_rcc_cal_gral']=5
    df_personas.loc[df_personas.rcc_cal_gral=='CPP','enc_rcc_cal_gral']=4
    df_personas.loc[df_personas.rcc_cal_gral=='DEF','enc_rcc_cal_gral']=3
    df_personas.loc[df_personas.rcc_cal_gral=='DUD','enc_rcc_cal_gral']=2
    df_personas.loc[df_personas.rcc_cal_gral=='PER','enc_rcc_cal_gral']=1
    df_personas.loc[df_personas.rcc_cal_gral=='OTR','enc_rcc_cal_gral']=0
    
    df_personas.loc[df_personas.nse=='A','enc_nse']=4
    df_personas.loc[df_personas.nse=='B','enc_nse']=3
    df_personas.loc[df_personas.nse=='C','enc_nse']=2
    df_personas.loc[df_personas.nse=='D','enc_nse']=1
    df_personas.loc[df_personas.nse=='E','enc_nse']=0
    
    df_personas.loc[df_personas.segmento=='SEGM4','enc_segmento']=3
    df_personas.loc[df_personas.segmento=='SEGM3','enc_segmento']=2
    df_personas.loc[df_personas.segmento=='SEGM2','enc_segmento']=1
    df_personas.loc[df_personas.segmento=='SEGM1','enc_segmento']=0

    
    df_personas['enc_gender'] = df_personas['gender'].map(df_personas['gender'].value_counts()/len(df_personas))
    df_personas['enc_provincia'] = df_personas['provincia'].map(df_personas['provincia'].value_counts()/len(df_personas))
    
    le=LabelEncoder()
    df_personas['le_provincia']=le.fit_transform(df_personas['provincia'])
    
    return df_personas

In [54]:
cols_yes = ["log_ingreso_mens", "log_num_seguros_salud", "log_rcc_nro_prod", "log_rcc_linea_tc_max", 
            "log_rcc_num_ent_sbs", "log_edad", "log_diff_lj_created","enc_rcc_cal_gral",
            "enc_nse", "enc_segmento", "enc_gender", "le_provincia"]
num_vars + cat_vars

['flg_viaje_tw',
 'ingreso_mens',
 'num_seguros_salud',
 'rcc_nro_prod',
 'rcc_linea_tc_max',
 'rcc_num_ent_sbs',
 'edad',
 'diff_lj_created',
 'gender',
 'tweet_location_peru',
 'rcc_cal_gral',
 'nse',
 'segmento']

In [53]:
df_personas = processing_cat_vars(df_personas)

df_personas = processing_num_vars(df_personas)

In [56]:
df_personas[cols_yes].head()

,log_ingreso_mens,log_num_seguros_salud,log_rcc_nro_prod,log_rcc_linea_tc_max,log_rcc_num_ent_sbs,log_edad,log_diff_lj_created,enc_rcc_cal_gral,enc_nse,enc_segmento,enc_gender,le_provincia
0,4.939951,0.693147,2.302585,6.283892,1.945910,3.610918,6.493754,1.0,1.0,1.0,0.441869,10
1,4.251371,0.693147,1.098612,6.675890,1.386294,3.583519,6.985642,4.0,1.0,2.0,0.441869,5
2,7.404377,0.693147,2.890372,7.256690,0.693147,3.988984,5.802118,5.0,2.0,0.0,0.441869,29
3,4.280572,0.693147,1.609438,4.917204,1.098612,3.761200,7.732369,4.0,2.0,1.0,0.441869,38
4,7.091265,0.693147,2.564949,7.460579,1.098612,3.610918,6.293419,4.0,4.0,1.0,0.473794,42